<ul class="nav nav-tabs">
    <li class="active">
        <a href="#">已发表</a>
    </li>
    <li>
        <a href="#">已回复</a>
    </li>
</ul>
<div class="span12">
    <ul class="nav nav-pills">
        <li class="active pull-left">
            <a href="#"> <span class="badge pull-right">42</span> Home</a>
        </li>
        <li>
            <a href="#"> <span>这可就是各种文字了</span></a>
        </li>
        <li class="pull-right">
            <a href="#"> <span class="badge pull-right">16</span> Reply</a>
        </li>
    </ul>
    <ul class="nav nav-pills">
        <li class="active pull-left">
            <a href="#"> <span class="badge pull-right">42</span> Home</a>
        </li>
        <li>
            <a href="#"> <span>这可就是各种文字了</span></a>
        </li>
        <li class="pull-right">
            <a href="#"> <span class="badge pull-right">16</span> Reply</a>
        </li>
    </ul>
    <ul class="nav nav-pills">
        <li class="active pull-left">
            <a href="#"> <span class="badge pull-right">42</span> Home</a>
        </li>
        <li>
            <a href="#"> <span>这可就是各种文字了</span></a>
        </li>
        <li class="pull-right">
            <a href="#"> <span class="badge pull-right">16</span> Reply</a>
        </li>
    </ul>
    <ul class="nav nav-pills">
        <li class="active pull-left">
            <a href="#"> <span class="badge pull-right">42</span> Home</a>
        </li>
        <li>
            <a href="#"> <span>这可就是各种文字了</span></a>
        </li>
        <li class="pull-right">
            <a href="#"> <span class="badge pull-right">16</span> Reply</a>
        </li>
    </ul>
    <div class="pagination">
        <ul>
            <li>
                <a href="#">上一页</a>
            </li>
            <li>
                <a href="#">1</a>
            </li>
            <li>
                <a href="#">2</a>
            </li>
            <li>
                <a href="#">3</a>
            </li>
            <li>
                <a href="#">4</a>
            </li>
            <li>
                <a href="#">5</a>
            </li>
            <li>
                <a href="#">下一页</a>
            </li>
        </ul>
    </div>
</div>