
<form class="form-horizontal" method="post">
<fieldset>
    <legend>修改密码</legend>
    <div class="control-group">
        <% if(typeof(error) !== 'undefined' && error){ %>
        <div class="alert alert-error">
            <a class="close" data-dismiss="alert" href="#">&times;</a>
            <strong><%= error %></strong>
        </div>
        <% } %>
        <label class="control-label" for="username">用户名</label>
        <div class="controls">
            <input type="text" class="input-xlarge" id="username" name="username">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="password">原密码</label>
        <div class="controls">
            <input type="password" class="input-xlarge" id="password" name="password">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="password">新密码</label>
        <div class="controls">
            <input type="password" class="input-xlarge" id="new_password" name="new_password">
        </div>
    </div>
     <div class="form-actions">
        <button type="submit" class="btn btn-primary">提交</button>
     </div>
</fieldset>
</form>
